@model IEnumerable<DEA.Models.Session>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminSidebar.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SessionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SessionStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SessionEndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SessionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionEndDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SessionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SessionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SessionID })
        </td>
    </tr>
}

</table>
