@model DEA.Models.Class

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminSidebar.cshtml";
}
<div class="col-md-12">
    <h2>Details</h2>

    <div>
        <h4>Class</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Class1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Class1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Section)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Section)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClassName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClassName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "EditClass", new { id = Model.ClassID }) |
        @Html.ActionLink("Back to List", "ClassIndex")
    </p>
</div>